@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  background-color: #0e0e0e !important;
}

.hoverable-icon {
  color: rgb(185, 185, 185);
  transition: color 0.3s;
}

.hoverable-icon:hover {
  color: #90edb3; /* New color on hover */
}
.grid-item {
  height: 200px;

  padding: 20px;
  border: 1px solid whiteAlpha.400;
}
